.custom-button {
  min-width: 45%;
  width: auto;
  height: 50px;
  letter-spacing: 0.05em;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 500ms ease all;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: scale(1.025);
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: white;
      color: #357ae8;
      border: 1px solid #357ae8;
      transform: scale(1.025);
    }
  }
}
